@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Büşra Tekin Özgeçmiş</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.no-icons.min.css" rel="stylesheet" media="print">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Domine:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style>
        h1 {
            font-family: Domine, serif;
            font-weight: normal;
            color: #446;
        }

        h3 {
            font-family: Domine, serif;
            font-weight: normal;
            font-style: italic;
            color: #333;
            margin-top: 0;
        }

        h4 {
            font-weight: normal;
            color: #446;
        }

        .row h4 {
            font-size: 16px;
            font-style: italic;
        }

        h5 {
            font-family: Domine, serif;
            font-weight: normal;
            font-size: 18px;
            margin-top: 0;
        }

        .cover {
            background-color: #fdfdfd;
            padding: 30px 0 !important;
        }

        .row-fluid {
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
        }

        .row {
            margin-left: 0px;
            page-break-inside: avoid !important;
        }

        hr {
            margin: 0;
            margin-bottom: 15px;
        }
        ul li{
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row-fluid" style="background-color: #f1a32f; padding: 0; border-bottom: 0; height: 15px;">
            <div class="span12"></div>
        </div>
        <div class="row-fluid cover">
            <div class="span2" style="text-align: center;">

            </div>
            <div class="span7">
                <h1>Büşra TEKİN</h1>
                <h4>Bilgisayar Mühendisliği Öğrencisi</h4>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span3"><h3>İş Tecrübesi</h3></div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">Gazi Üniversitesi</h5>
                        <h4>Bilimsel Araştırma Projeleri</h4>
                    </div>
                    <div class="span3"><span class="label pull-right">2022 - 2023</span></div>
                </div>
                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">Yazılım Parkı Bilişim Teknolojileri D.O.R.P. Ltd. Şti.</h5>
                        <h4>Stajyer</h4>
                    </div>
                    <div class="span3"><span class="label pull-right">2021 - 2022</span></div>
                </div>
                <hr>
                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">FORSNET Bilgi Teknolojileri Ltd. Şti.</h5>
                        <h4>Yazılım Geliştirici</h4>
                    </div>
                    <div class="span3"><span class="label pull-right">2022 - 2023</span></div>
                </div>
                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">Başar Mevzuat ve Bilgi Araştırma Merkezi Ltd. Şti.</h5>
                        <h4>Sistem Yöneticisi ve Yazılım Geliştirici</h4>
                        <ul>
                            <li>Sunucu ve sistem yönetimi</li>
                            <li>Web tabanlı yazılım geliştirme</li>
                        </ul>
                    </div>
                    <div class="span3"><span class="label pull-right">2020 - 2021</span></div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3"><h3>Teknik Bilgi</h3></div>
            <div class="span9">

                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">JavaScript</h5>
                        <br>
                        <ul>
                            <li>jQuery kütüphanesini aktif kullanıyorum ve daha önce Mootools kütüphanesi ile çalıştım.</li>
                            <li>Web Application Framework kategorisinde Ember.js, AngularJS, React, Vue.js gibi projelerini takip ediyorum.</li>
                            <li>HTML 5 ile birlikte gelen modern yapıları, özellikle WebSocket, WebRTC, Notification ile ilgili gelişmeleri takip ediyorum.</li>
                            <li>Hobi olarak JavaScript kanvas/grafik kütüphanelerini ve oyun motorlarını takip ediyorum.</li>
                        </ul>
                    </div>
                    <div class="span3"><span class="label pull-right">&#177;20 YIL</span></div>
                </div>
                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">HTML ve CSS</h5>
                        <br>
                        <ul>
                            <li>Kullanıcı arayüz kütüphanelerinden Twitter Bootstrap aktif olarak kullanıyorum.</li>
                            <li>Semantic UI ve Zurb Foundation gibi projeleri takip ediyorum.</li>
                            <li>HTML 5 ve CSS 3 hakkındaki gelişme ve güncellemeleri takip ediyorum.</li>
                        </ul>
                    </div>
                    <div class="span3"><span class="label pull-right">&#177;20 YIL</span></div>
                </div>
                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">Veritabanları</h5>
                        <br>
                        <ul>
                           
                            <li>Kısa bir süre PostgreSQL ile çalıştım (&#177;2 yıl).</li>
                            <li>Sphinx ve Lucene gibi tam metin arama sunucuları ile çalıştım.</li>
                            <li>ElasticSearch projesini yakından takip ediyorum.</li>
                            <li>Bazı küçük projelerde ve mobil projelerin bir kısmında SQLite ile çalışmaktayım.</li>
                            <li>Aktif olarak Redis ve Memcached key-value depolayıcıları kullanıyorum.</li>
                            <li>MongoDB, RethinkDB ve CouchBase gibi NoSQL sunucularını deneyerek gelişmelerini takip ediyorum.</li>
                            <li>İş gereği 2014 yılından itibaren Oracle ile çalışmaktayım (kullanıcı seviyesinde).</li>
                        </ul>
                    </div>
                    <div class="span3"><span class="label pull-right">&#177;20 YIL</span></div>
                </div>
                <hr>

                <hr>
                <div class="row">
                    <div class="span9">
                        <h5 class="text-info">Diğer</h5>
                        <br>
                        <ul>
                            <li>Java diline ek olarak C, Elixir, Ruby ile ilgileniyorum.</li>
                            <li>Java OOP geliştirme ile ilgileniyorum.</li>
                            <li>Apache HTTP Server, Nginx ve LigHTTPD gibi web sunucuları ile kurulum, düzenleme ve optimizasyon seviyesinde çalışıyorum.</li>
                            <li>DevOps araçlarını (Vagrant, Docker gibi) ve ortamlarını (Amazon Web Services, Google Cloud Platform, Heroku gibi) takip ediyorum.</li>
                            <li>Ffmpeg ilgi alanım.</li>
                            <li>Raspberry Pi, CubieBoard gibi ARM kutularını ve ARM tabanlı sunucular ilgi alanım.</li>
                            <li>C veya PHP ile socket sunucu geliştirme ilgi alanım.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3"><h3>Eğitim</h3></div>
            <div class="span9">
                <h5 class="text-info">Üniversite</h5>
                <div class="row">
                    <div class="span9">
                        <h4>Gazi Üniversitesi, Bilgisayar Mühendisliği </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <h4>3. Sınıf Öğrencisi</h4>
                    </div>

                </div>

                <hr>
                <div class="row">
                    <div class="span12">
                        <h5 class="text-info">Yabancı Dil</h5>
                        <h4>İngilizce (Okuma ve Yazma: İyi, Konuşma: Orta)</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3"><h3> Sertifikalar </h3></div>
            <div class="span9">
                <div class="row">
                    <hr>
                    <hr>
                    <div class="row">
                        <div class="span9">
                            <ul>
                                <li>Makine Öğrenmesine Giriş (Global AI Hub) </li>
                                <li>Uygulamalarla SQL Öğreniyorum (BTK Akademi) </li>
                                <li>IEEE java katılım sertifikası </li>
                                <li>C++ ile programlamaya giriş (BTK Akademi) </li>
                                <li>Yazılım Dünyasının Dünü, Bugünü ve Geleceği </li>
                                <li>Gazi Üniversitesi Dijital Oyun Tasarım ve Oyun Geliştirme Programı </li>
                                <li>Dijital Donanım Tasarımcısı Olma Kursu (FPGA/ASIC) (Udemy) </li>
                            </ul>
                        </div>

                    </div>
                    <hr>

                </div>
            </div>
        </div>
</body>
</html>