@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/css/style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div class="center">
        <div class="avatar">
            <img src="~/css/pp.jpeg">
        </div>
        <div class="content">
            <h1>Büşra Tekin</h1>
            <h2>Bilgisayar Mühendisliği Öğrencisi</h2>
            <h3>Sosyal Medya Hesaplarım</h3>
        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook"></i>  </a>
            <a href="#"><i class="fa-brands fa-envelope"></i>  </a>
            <a href="#"><i class="fa-brands fa-linkedin"></i>  </a>
            <a href="#"><i class="fa-brands fa-twitter"></i>  </a>
            <a href="#"><i class="fa-brands fa-github"></i>  </a>
        </div>

    </div>
    <div class="inf">
        <div class="content2">
            <h1>Merhaba</h1>
            <h3>Ben Kimim & Ne yapıyorum</h3>

            <p>
                Gazi Üniversitesi Bilgisayar Mühendisliği bölümünde 3.sınıf öğrencisiyim. Ders içerik kapsamında görsel
                programlama, C# yazılım dili ve PostgreSQL ile veritabanlı projeler üzerine çalışmalar yapmaktayım.
                Java yazılım dili ile OOP öğrendim. MSSQL veritabanıyla projeler yaptım. Bilgisayar ağları ve
                tasarımı dersinde network eğitimimi Cisco ile tamamladım.C ve C++ dilleriyle algoritmanın temeli olan veri yapıları
                ve algoritmalar eğitimi aldım.Kendimi geliştirmeye ve öğrenmeye açığım.
            </p>
            
        </div>


    </div>

</body>
</html>